.header{
    grid-area: h;
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
        justify-content: space-evenly;
}
.categories{
    display: flex;
    flex-direction: row;
}
.item{
    padding-right: 10px;
}

.profile{
    background: #7c7c62;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
