.item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img{
    width: 150px;
    height: 150px;
}
.mainContainer{
    display: flex;
    justify-content: space-between;
}
.mainImage{
    width: 350px;
    height: 450px;
}
.images{
    width: 150px;
    height: 150px;
}
.imageContainer{
    display: flex;
}

.imagesSecondCont{
    display: flex;
    flex-direction: column;
    background-color: indigo;
}
.reviews{
    overflow: scroll;
    background: green;
    width: 300px;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
}

.rev{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: greenyellow;
    height: 80px;
    width: 280px;
    margin: 5px 5px 0 5px;
}